.active {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid yellow;
}

.navmenu {
    position: absolute;
    top: 4rem;
    right: 2 rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    z-index: 2;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}